[Desktop Entry]
Type=Application
Version=0.1
Name=Ren'Paste
Comment=Quickly copy all your Ren'Py saves
Path=$HOME/.local/bin
Exec=renpaste
Icon=renpaste.png
Terminal=false
Categories=Utility;
