[Desktop Entry]
Type=Application
Version=0.3
Name=Ren'Paste
Comment=Quickly copy all your Ren'Py saves
Exec=$HOME/.local/bin/renpaste
Icon=renpaste.png
Terminal=false
Categories=Utility;
